/target
/__pycache__
basic.lol
lol.out
a.out
test.c
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
lulz-prefix
release
.rustc_info.json
lulz
liblulzrt.a
build
